pipeline/pl_ingest_fx_to_bronze.json
{
	"name": "pl_ingest_fx_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "v_relative_url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "v_symbols_clean",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_relative_url",
					"value": {
						"value": "@concat(pipeline().parameters.p_run_date,\n        '?from=', pipeline().parameters.p_base_ccy,\n        '&to=', variables('v_symbols_clean'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "v_target_folder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "v_relative_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_target_folder",
					"value": {
						"value": "@concat('fx_rates/base=', pipeline().parameters.p_base_ccy,\n        '/run_date=', pipeline().parameters.p_run_date, '/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "v_target_file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "v_target_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_target_file",
					"value": {
						"value": "@concat('fx_rates_', pipeline().parameters.p_base_ccy, '_',\n        pipeline().parameters.p_run_date, '.json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_http_to_bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "v_target_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "ls_adls_stassetlakehouse",
								"type": "LinkedServiceReference"
							}
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_http_fx",
						"type": "DatasetReference",
						"parameters": {
							"p_relative_url": {
								"value": "@variables('v_relative_url')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_bronze_fx_json",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": {
								"value": "@variables('v_target_folder')",
								"type": "Expression"
							},
							"p_file": {
								"value": "@variables('v_target_file')",
								"type": "Expression"
							},
							"p_container": "bronze"
						}
					}
				]
			},
			{
				"name": "v_symbols_clean",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_symbols_clean",
					"value": "@replace(replace(trim(pipeline().parameters.p_symbols), ' ', ''), '.', '')"
				}
			},
			{
				"name": "DataBricksJob",
				"type": "DatabricksJob",
				"dependsOn": [
					{
						"activity": "cp_http_to_bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"jobId": "692966998594981",
					"jobParameters": {
						"run_date": {
							"value": "@pipeline().parameters.p_run_date",
							"type": "Expression"
						},
						"base_ccy": {
							"value": "@pipeline().parameters.p_base_ccy",
							"type": "Expression"
						},
						"symbols": {
							"value": "@pipeline().parameters.p_symbols",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_base_ccy": {
				"type": "string",
				"defaultValue": "USD"
			},
			"p_symbols": {
				"type": "string",
				"defaultValue": "EUR,GBP,JPY,CHF,CAD,AUD,USD"
			},
			"p_run_date": {
				"type": "string",
				"defaultValue": "2026-03-02"
			}
		},
		"variables": {
			"v_relative_url": {
				"type": "String"
			},
			"v_target_folder": {
				"type": "String"
			},
			"v_target_file": {
				"type": "String"
			},
			"v_symbols_clean": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-02T17:29:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}